.vgt-right-align,
.vgt-left-align {
  text-align: center !important;
  vertical-align: middle !important;
}
.vgt-inner-wrap {
  box-shadow: none!important;
  .vgt-table {
    border: none!important;
    thead {
      th {
        padding: 8px 10px;
        font-size: 14px;
        white-space: nowrap;
        text-transform: capitalize;
        button {
          &::after, &::before {
            transform: translateY(50%);
          }
        }
      }
    }
    tbody {
      tr {
        td {
          button {
            margin: auto;
          }
        }
      }
      tr:last-of-type {
        td {
          border: none!important;
        }
      }
    }
  }
}
.pagination {
  .page-item {
    margin: 4px;
    .page-link {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: var(--primary)!important;
      box-shadow: $shadow;
    }
    &.active {
      .page-link {
        background: var(--primary)!important;
        border-color: var(--primary)!important;
        color: #fff!important;
      }
    }
  }
}